
body {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/f3e97d163593433.63e8cc2c54493.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family:monospace
}

header {
    background-size: fill;
    height: 140px;
    text-align: center;
    color: white;
    background-color: rgb(241, 21, 21);
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding :1.5rem;
    justify-items: center;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0  0 15px 15px;
    flex-shrink: 0;
    font-size: 24px;
    box-shadow: 4px 2px 5px black; 
}

.main {
    margin-left: 4rem;
    text-shadow: 2px 2px 4px black;    
}

header img {
    border-radius: 10px;
    box-shadow: 4px 2px 5px black;
    align-self: center;
    align-items: center;
    margin-right: 0.5rem;
    border-radius: 15%;    
}

h1.welcom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 4.5rem;
    border: 3px solid black;
    max-width: 400px;
    justify-self: center;
    background-color: rgb(235, 219, 219);
    box-shadow: 4px 2px 5px black;
    border-radius: 10px;
    padding: 2rem;
    color: rgb(44, 39, 39);  
}

h1.section-title {
    display: flex;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 0rem;
    margin-top: 80px;
    background-color: rgb(241, 21, 21);
    padding: 1.2rem;
    color: white;
    box-shadow: 4px 2px 5px black;
    border: 3px solid black;
    justify-self: center;
}

.a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem;
}
   
.a1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    margin-left: 0rem;
}

.a1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
}

.a1 img {
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem; 
}

.a3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a4 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a4 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a4 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a5 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a5 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a5 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem;
}

.b1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b1 img {
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.c {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem; 
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}
 
.c2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.c2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.d1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.d1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}
 
.d2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.d2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.d3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;

}

.d3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.e1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.f1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 0rem;
    flex-shrink: 0;
}

.f1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.f2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.f3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

footer {
    
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: space-between;
    display: flex;
    flex-direction: row;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(235, 219, 219);
    border-radius: 10px;
    padding: 1rem;
}

.designer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(235, 219, 219);
    border-radius: 10px;
    padding: 1rem;   
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    font-size: 20px; 
}

.order-button:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(70, 67, 67);
    text-decoration: underline; 
}

=======
body {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/f3e97d163593433.63e8cc2c54493.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family:monospace
}

header {
    background-size: fill;
    height: 140px;
    text-align: center;
    color: white;
    background-color: rgb(241, 21, 21);
    display: flex;
    margin-bottom: 2rem;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding :1.5rem;
    justify-items: center;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
    border-radius: 0  0 15px 15px;
    flex-shrink: 0;
    font-size: 24px;
    box-shadow: 4px 2px 5px black; 
}

.main {
    margin-left: 1rem;
    text-shadow: 2px 2px 4px black;    
}

header img {
    border-radius: 10px;
    box-shadow: 4px 2px 5px black;
    align-self: center;
    align-items: center;
    margin-right: 0.5rem;
    border-radius: 15%;    
}

h1.welcom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 4.5rem;
    border: 3px solid black;
    max-width: 400px;
    justify-self: center;
    background-color: rgb(235, 219, 219);
    box-shadow: 4px 2px 5px black;
    border-radius: 10px;
    padding: 2rem;
    color: rgb(44, 39, 39);  
}

h1.section-title {
    display: flex;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 0rem;
    margin-top: 80px;
    background-color: rgb(241, 21, 21);
    padding: 1.2rem;
    color: white;
    box-shadow: 4px 2px 5px black;
    border: 3px solid black;
    justify-self: center;
}

.a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem;
}
   
.a1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    margin-left: 0rem;
}

.a1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 240px;
}

.a1 img {
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem; 
}

.a3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a4 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a4 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.a4 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a5 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.a5 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.a5 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem;
}

.b1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b1 img {
    width: 100%;
    max-height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.b2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.b3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.b3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.c {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 2rem; 
}

.c1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}
 
.c2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.c2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.c3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.c3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.d {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.d1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.d1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}
 
.d2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.d2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.d3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.d3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;

}

.d3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.e1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.e2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.e3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.e3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    margin-top: 20px;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.f1 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 0rem;
    flex-shrink: 0;
}

.f1 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f1 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f2 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.f2 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

.f2 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f3 {
    display: flex;
    flex-direction: column;
    align-items: right;
    align-content: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-size adjust: 100%;
    background-color: rgb(241, 21, 21);
    background-size: article1;
    border-radius: 10px;
    max-width: 240px;
    box-shadow: 4px 2px 5px maroon;
    max-height: 400px;
    margin-left: 2rem;   
    flex-shrink: 0;
    max-width: 240px;
    margin-left: 0rem;
}

.f3 p {
    font-size: 23px;
    margin-bottom: 0.1rem;
    text-shadow: 1px 1px 2px black;
    border-radius: 10px;
    border: 3px solid black;
    padding: 0.8rem;
    background-color: rgb(233, 226, 226);
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.f3 img {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: 4px 2px 5px black;
}

footer {
    
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-size: 18px;
    justify-content: center;
    align-items: space-between;
    display: flex;
    flex-direction: row;
}

.copy {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(235, 219, 219);
    border-radius: 10px;
    padding: 1rem;
}

.designer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 0rem;
    margin-left: 0rem;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(235, 219, 219);
    border-radius: 10px;
    padding: 1rem;   
}

.order-button {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgb(241, 21, 21);
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px black;
    font-size: 20px; 
}

.order-button:hover {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgb(70, 67, 67);
    text-decoration: underline; 
}

.whatsapp-float {
    position: fixed; /* يجعله ثابتاً في الشاشة */
    width: 60px;
    height: 60px;
    bottom: 20px; /* مسافة من الأسفل */
    right: 20px; /* مسافة من اليمين */
    background-color: #25d366; /* لون واتساب المميز */
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000; /* لضمان ظهوره فوق أي عنصر آخر */
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}

/* إضافة تأثير حركة عند المرور بالماوس */
.whatsapp-float:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


.cart-float {
    position: fixed;
    bottom: 90px;  /* قمنا بزيادتها لتكون فوق زر الواتساب مباشرة */
    right: 20px;   /* نفس المسافة ليكون الزرين تحت بعضهما تماماً */
    width: 60px;
    height: 60px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
